/* Config */
:root {
    --dark-blue: rgb(71, 70, 118);
    --dark-blue-fade: #b1b2ff5e;
    --dark-pink: rgb(243, 114, 131);
    --light-pink:  rgb(255, 234, 230);
    --gray: rgb(151, 151, 151);
    --light-gray: rgb(229 229 229);
    --dark-gray: rgb(110, 110, 110);
    --purple: #5e5f93;
    

    --primary-background: var(--gray);
    --secondary-background: var(--dark-gray);
    
    --text: var(--gray);

    --text-btn: white;
    --btn-background: var(--light-pink);
    --border: var(--light-pink);
    --radius: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, * {
    max-width: 100%;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: var(--gray);
}

nav {
    background-color: var(--light-gray);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100vh;
}

.round {
    border-radius: var(--radius);
}

.full-wdth {
    width: 100%;
}

.padding {
    padding: 5px 10px;
}
.padding-side {
    padding: 5px 15px;
}

.padding-lg {
    padding: 15px 5px;
}

.tabs {
    justify-content: space-around;
}
.tab-item {
    width: 100%;
    border-bottom: 5px solid var(--light-gray);
}
.tab-active {
    border-bottom: 5px solid var(--dark-blue);
}

/* Register */


.pupil > * {
    flex: 0 auto 0;
  }

.fnt-bold {
    font-weight: 800;
    color: var(--dark-blue);
}

.fnt__dark-blue {
    color: var(--dark-blue);
}

.inactive {
    color: var(--dark-gray);
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.align-center {
    margin-top: auto;
    margin-bottom: auto;
}

.space-btw {
    justify-content: space-between;
}

.fa-arrow-left-long {
    position: absolute;
}

.fa-circle-info {
    position: relative;
    left: 0;
}

.template-pupil {
    display: none;
}

.txt-center {
    text-align: center;
}

.txt-blue {
    color: var(--dark-blue);
}

.txt-pink {
    color: var(--dark-pink);
}

.box-purple {
    border-radius: var(--radius);
    background-color: var(--dark-blue-fade);
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    height: 35px;
    min-width: 70px;
    border-radius: var(--radius);
    border: none;
    background: none;
}

.btn-inactive {
    color: var(--dark-pink);
    border: 2px solid var(--dark-pink);
}


.btn-active {
    background-color: var(--dark-pink);
    color: white;
}


.scroll {
    padding: 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 12fr 1fr;
}

.grid-three {
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
}

.grid-sign-in {
    display: grid;
    grid-template-rows: 1fr 12fr;
}

.avatar {
    max-height: 80px;
    max-width: 80px;
}

/* Modal */

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
  }
  
  /* The Close Button */
  .fa-xmark {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    right: 0;
  }
  
  .fa-xmark:hover,
  .fa-xmark:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .column {
    flex-direction: column;
    align-items: center;
  }

  .tip {
    align-items: center;
  }
  
  .confirm-box {
    justify-content: space-between;
  }

  .confirm-box > *>* {
    padding: 10px 10px;
  }

  .hidden {
    display: none;
  }

  .open {
    display: block;
  }

.btn-date-time {
    border: 2px solid var(--dark-gray);
    height: 56px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
}
.btn-date-time > * {
    font-size: 1rem;
    color: var(--dark-blue);
}

  .btn-confirm {
    height: 56px;
    width: 80%;
    background: 
    linear-gradient(var(--dark-pink), var(--dark-pink)) padding-box,
    linear-gradient(to right, rgb(255, 162, 174), rgb(255, 183, 192)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
    color: white;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
  }