/* Config */
:root {
    --dark-blue: rgb(71, 70, 118);
    --dark-blue-fade: #b1b2ff5e;
    --dark-pink: rgb(243, 114, 131);
    --light-pink:  rgb(255, 234, 230);
    --gray: rgb(151, 151, 151);
    --dark-gray: rgb(110, 110, 110);
    --purple: #5e5f93;
    

    --primary-background: var(--gray);
    --secondary-background: var(--dark-gray);
    
    --text: var(--gray);

    --text-btn: white;
    --btn-background: var(--light-pink);
    --border: var(--light-pink);
    --radius: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, * {
    max-width: 100%;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: var(--gray);
}

div {
    width: 100%;
}

.fnt-bold {
    font-weight: 800;
    color: var(--dark-blue);
}

.fnt__dark-blue {
    color: var(--dark-blue);
}

.inactive {
    color: var(--gray);
}

.flex {
    display: flex;
    justify-items: center;
}

.template-pupil {
    display: none;
}

.txt-center {
    text-align: center;
}

.txt-blue {
    color: --dark-blue;
}

.box-purple {
    border-radius: var(--radius);
    background-color: var(--dark-blue-fade);
}

.btn {
    height: 35px;
    min-width: 70px;
    border-radius: var(--radius);
    border: none;
    background: none;
}

.btn-inactive {
    color: var(--dark-pink);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
}


.btn-active {
    background-color: var(--dark-pink);
    color: white;
}